<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.b4.dao.ICinemaDAOm">
	
	<select id="cinemaOne" resultType="cinemaDto">
		SELECT * FROM CINEMA
		WHERE CINEMA_CODE = #{cinema_code}
	</select>
	
	<insert id="cinemaInsert" parameterType="cinemaDto">
		INSERT INTO CINEMA VALUES 
						   (CINEMA_SEQ.NEXTVAL, 
						    #{cinema_name}, 
							#{cinema_adres}, 
							#{cinema_tel}, 
							#{cinema_image}
						   )
	</insert>
	
	<update id="cinemaUpdate" parameterType="cinemaDto">
		UPDATE CINEMA SET CINEMA_NAME=#{cinema_name},
						  CINEMA_ADRES=#{cinema_adres},
						  CINEMA_TEL=#{cinema_tel},
						  CINEMA_IMAGE=#{cinema_image} 
		WHERE CINEMA_CODE = #{cinema_code}
	</update>
	
	<delete id="cinemaDelete" parameterType="cinemaDto">
		DELETE CINEMA WHERE CINEMA_CODE=#{cinema_code}
	</delete>

</mapper>
